.header 
{ height:120px;
	font-size: 33px;   
	font-weight: bold; 
background-color: #ffd800;
}
ul.hr{
	margin: 0;
    padding: 10px; 
}
 ul.hr li {
    display: inline; 
    margin-right: 5px; 
    border: 3px solid #000;
    padding: 10px; 
   }

.footer{
width:100%;
margin-left: auto;
padding: 10px;
background-color: #fcf18d;
}
.table{
	margin: 0 auto;
	margin-top:20px;
	padding:10px;
	border:2px;
}
.strok{ background-color: #f5f12f;}
.main{
 
  margin-top:20px; 
  padding:10px;
 display: flex;
  flex-direction: column;
  }




